.btn-darkk {
    background-color: #535353;
    transition: .3s;
    padding: 1.5rem 7rem !important;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 30px !important;
}

.btn-darkk:hover {
    background-color: #424242;
    color: #fff;
}

.btn-darkk:focus {
    outline: none;
    box-shadow: none;
}

.align-buttons {
    display: flex; 
    flex-direction: row;
}

hr{
    color: #fff;
}

.trash-icon{
    font-size: 20pt;
    color: #fff;
    transition: .3s;
}

.trash-icon:hover{
    color: rgb(185, 185, 185);
    cursor: pointer;
}

@media(max-width: 960px){
    .switch-form .form-check-label{
        display: none;
    }
}

